@use "./variables" as *;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: $White;
}

@media (max-width: 768px) {
    .header {
        background-image: url('../images/mobile/image-hero.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-left: $padding-left;
        padding-right: $padding-right;
        .flex-menu {
            display: none;
        }
        .hamburger {
            cursor: pointer;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
        }
        .slider {
            transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            width: 100%;
            position: absolute;
            height: 100vh;
            background-color: $Black;
            left: 0;
            top: 0;
            z-index: -1;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding-left: $padding-left;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            opacity: 0;
            //
            & a {
                color: $White;
                font-family: $Josefin-Sans;
                text-transform: uppercase;
                font-weight: 200;
                font-size: 1.9em;
                letter-spacing: 2.3px;
            }
            & li:not(:first-child) {
                margin-top: 30px;
            }
            &.active {
                transform: translateY(0%);
                -webkit-transform: translateY(0%);
                -moz-transform: translateY(0%);
                -ms-transform: translateY(0%);
                -o-transform: translateY(0%);
                opacity: 1
            }
        }
        .landing {
            // width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-items: center;
            & p {
                border: 3px $White solid;
                color: $White;
                padding: 1.4rem;
                font-size: 2.5rem;
                font-family: $Josefin-Sans;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 1.5px;
            }
        }
    }
    .interactive {
        padding-top: 6rem;
        padding-left: 4rem;
        padding-right: 4rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        text-align: center;
        & img {
            max-width: 100%;
        }
        .text {
            margin-top: 30px;
            width: 100%;
            padding: 10px;
            & h1 {
                font-family: $Alata-font;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 2.3em;
                max-width: 100%;
            }
            & p {
                max-width: 100%;
                font-size: 1em;
                font-family: $Alata-font;
                font-weight: 200;
                color: $Very-Dark-Gray;
                margin-top: 20px
            }
        }
    }
    .events {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 6rem;
        padding-left: $padding-left;
        padding-right: $padding-right;
        padding-bottom: 50px;
        .box {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 200px);
            grid-column-gap: 0px;
            grid-row-gap: 20px;
            .earth {
                background: url('../images/desktop/image-deep-earth.jpg') no-repeat center/ cover;
            }
            .arcade {
                background: url('../images/desktop/image-night-arcade.jpg') no-repeat center/ cover;
            }
            .soccer {
                background: url('../images/desktop/image-soccer-team.jpg') no-repeat center/ cover;
            }
            .grid {
                background: url('../images/desktop/image-grid.jpg') no-repeat center/ cover;
            }
            .above {
                background: url('../images/desktop/image-from-above.jpg') no-repeat center/ cover;
            }
            .Pocket {
                background: url('../images/desktop/image-pocket-borealis.jpg') no-repeat center/ cover;
            }
            .curiosity {
                background: url('../images/desktop/image-curiosity.jpg') no-repeat center/ cover;
            }
            .fisheye {
                background: url('../images/desktop/image-fisheye.jpg') no-repeat center/ cover;
            }
            ._all {
                position: relative;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
                & p {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    color: $White;
                    font-size: 2em;
                    max-width: 40%;
                    font-weight: 400;
                    font-family: $Josefin-Sans;
                    text-transform: uppercase;
                }
            }
            ._all:hover {
                opacity: 0.7
            }
        }
        .title {
            margin: 30px 0;
            align-self: center;
            justify-self: center;
            text-transform: uppercase;
            font-size: 2em;
            font-weight: 300;
            font-family: $Josefin-Sans;
        }
    }
}

@media (min-width: 769px) {
    .header {
        background-color: White;
        background-image: url('../images/desktop/image-hero.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-left: 4rem;
        padding-right: 4rem;
        .flex-menu {
            display: flex;
            width: 70%;
            margin-left: 100px;
            a {
                color: $White;
                font-family: $Alata-font;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 1em;
                letter-spacing: 2.3px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -8px;
                    width: 0;
                    height: 3px;
                    background-color: $White;
                    border-radius: 2px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    -ms-border-radius: 2px;
                    -o-border-radius: 2px;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                }
                &:hover:before {
                    width: 30%;
                }
            }
            & li:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
    .landing {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p {
            border: 3px $White solid;
            color: $White;
            padding: 1.4rem;
            font-size: 3.5rem;
            font-family: $Josefin-Sans;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1.5px;
            width: 50%;
        }
    }
    .slider {
        display: none;
    }
    .hamburger {
        display: none;
    }
    .interactive {
        padding-top: 6rem;
        padding-left: 4rem;
        padding-right: 4rem;
        position: relative;
        & img {
            max-width: 100%;
        }
        .text {
            max-width: 50%;
            height: 350px;
            background-color: $White;
            position: absolute;
            padding: 50px;
            bottom: -20px;
            right: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            & h1 {
                font-family: $Alata-font;
                text-transform: uppercase;
                font-weight: 200;
                font-size: 3.3em;
                max-width: 100%;
            }
            & p {
                max-width: 100%;
                font-size: 1em;
                font-family: $Alata-font;
                font-weight: 200;
                color: $Very-Dark-Gray;
                margin-top: 20px
            }
        }
    }
    .events {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 9rem;
        padding-left: 4rem;
        padding-right: 4rem;
        .box {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 450px);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            .earth {
                background: url('../images/desktop/image-deep-earth.jpg') no-repeat center/ cover;
            }
            .arcade {
                background: url('../images/desktop/image-night-arcade.jpg') no-repeat center/ cover;
            }
            .soccer {
                background: url('../images/desktop/image-soccer-team.jpg') no-repeat center/ cover;
            }
            .grid {
                background: url('../images/desktop/image-grid.jpg') no-repeat center/ cover;
            }
            .above {
                background: url('../images/desktop/image-from-above.jpg') no-repeat center/ cover;
            }
            .Pocket {
                background: url('../images/desktop/image-pocket-borealis.jpg') no-repeat center/ cover;
            }
            .curiosity {
                background: url('../images/desktop/image-curiosity.jpg') no-repeat center/ cover;
            }
            .fisheye {
                background: url('../images/desktop/image-fisheye.jpg') no-repeat center/ cover;
            }
            ._all {
                position: relative;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
                & p {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    color: $White;
                    font-size: 2.6em;
                    max-width: 90%;
                    font-weight: 200;
                    font-family: $Josefin-Sans;
                    text-transform: uppercase;
                }
            }
            ._all:hover {
                opacity: 0.5
            }
            ._all:hover p {
                color: $Black;
            }
        }
        .title {
            margin: 30px 0;
            align-self: flex-start;
            text-transform: uppercase;
            font-size: 2.6em;
            font-weight: 300;
            font-family: $Josefin-Sans;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 90vh;
    .nav {
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        padding-top: 1.25rem;
        flex-direction: row;
        width: 100%;
        height: 100px;
        .logo {
            img {
                max-width: 100%;
            }
            width: 30%
        }
    }
    .landing {
        height: 100%;
    }
}

.interactive {
    padding-top: 6rem;
}

.events {
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $Black;
    margin-top: 30px;
    padding: 2rem 4rem;
}