* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(0deg, 0%, 100%);
}

@media (max-width: 768px) {
  .header {
    background-image: url("../images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header .flex-menu {
    display: none;
  }
  .header .hamburger {
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  .header .slider {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    width: 100%;
    position: absolute;
    height: 100vh;
    background-color: hsl(0deg, 0%, 0%);
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    opacity: 0;
  }
  .header .slider a {
    color: hsl(0deg, 0%, 100%);
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.9em;
    letter-spacing: 2.3px;
  }
  .header .slider li:not(:first-child) {
    margin-top: 30px;
  }
  .header .slider.active {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    opacity: 1;
  }
  .header .landing {
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .header .landing p {
    border: 3px hsl(0deg, 0%, 100%) solid;
    color: hsl(0deg, 0%, 100%);
    padding: 1.4rem;
    font-size: 2.5rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  .interactive {
    padding-top: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
  }
  .interactive img {
    max-width: 100%;
  }
  .interactive .text {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
  }
  .interactive .text h1 {
    font-family: "Alata", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.3em;
    max-width: 100%;
  }
  .interactive .text p {
    max-width: 100%;
    font-size: 1em;
    font-family: "Alata", sans-serif;
    font-weight: 200;
    color: hsl(0deg, 0%, 41%);
    margin-top: 20px;
  }
  .events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 50px;
  }
  .events .box {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
  }
  .events .box .earth {
    background: url("../images/desktop/image-deep-earth.jpg") no-repeat center/cover;
  }
  .events .box .arcade {
    background: url("../images/desktop/image-night-arcade.jpg") no-repeat center/cover;
  }
  .events .box .soccer {
    background: url("../images/desktop/image-soccer-team.jpg") no-repeat center/cover;
  }
  .events .box .grid {
    background: url("../images/desktop/image-grid.jpg") no-repeat center/cover;
  }
  .events .box .above {
    background: url("../images/desktop/image-from-above.jpg") no-repeat center/cover;
  }
  .events .box .Pocket {
    background: url("../images/desktop/image-pocket-borealis.jpg") no-repeat center/cover;
  }
  .events .box .curiosity {
    background: url("../images/desktop/image-curiosity.jpg") no-repeat center/cover;
  }
  .events .box .fisheye {
    background: url("../images/desktop/image-fisheye.jpg") no-repeat center/cover;
  }
  .events .box ._all {
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .events .box ._all p {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: hsl(0deg, 0%, 100%);
    font-size: 2em;
    max-width: 40%;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }
  .events .box ._all:hover {
    opacity: 0.7;
  }
  .events .title {
    margin: 30px 0;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
  }
  .products {
    height: 60%;
  }
  .products ul {
    margin-top: 30px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    height: 60%;
  }
  .products .logo_2 {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .products ul li a {
    color: hsl(0deg, 0%, 100%);
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 2.3px;
    position: relative;
    margin-top: 50px;
  }
  .products ul li a::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 0;
    height: 3px;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .products ul li a:hover:before {
    width: 30%;
  }
  .products footer {
    color: hsl(0deg, 0%, 55%);
    font-family: "Alata", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 769px) {
  .header {
    background-color: White;
    background-image: url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .header .flex-menu {
    display: flex;
    width: 70%;
    margin-left: 100px;
  }
  .header .flex-menu a {
    color: hsl(0deg, 0%, 100%);
    font-family: "Alata", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 2.3px;
    position: relative;
  }
  .header .flex-menu a::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 0;
    height: 3px;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .header .flex-menu a:hover:before {
    width: 30%;
  }
  .header .flex-menu li:not(:first-child) {
    margin-left: 10px;
  }
  .landing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .landing p {
    border: 3px hsl(0deg, 0%, 100%) solid;
    color: hsl(0deg, 0%, 100%);
    padding: 1.4rem;
    font-size: 3.5rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
    width: 50%;
  }
  .slider {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .interactive {
    padding-top: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
  }
  .interactive img {
    max-width: 100%;
  }
  .interactive .text {
    max-width: 50%;
    height: 350px;
    background-color: hsl(0deg, 0%, 100%);
    position: absolute;
    padding: 50px;
    bottom: -20px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .interactive .text h1 {
    font-family: "Alata", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 3.3em;
    max-width: 100%;
  }
  .interactive .text p {
    max-width: 100%;
    font-size: 1em;
    font-family: "Alata", sans-serif;
    font-weight: 200;
    color: hsl(0deg, 0%, 41%);
    margin-top: 20px;
  }
  .events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 9rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .events .box {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 450px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .events .box .earth {
    background: url("../images/desktop/image-deep-earth.jpg") no-repeat center/cover;
  }
  .events .box .arcade {
    background: url("../images/desktop/image-night-arcade.jpg") no-repeat center/cover;
  }
  .events .box .soccer {
    background: url("../images/desktop/image-soccer-team.jpg") no-repeat center/cover;
  }
  .events .box .grid {
    background: url("../images/desktop/image-grid.jpg") no-repeat center/cover;
  }
  .events .box .above {
    background: url("../images/desktop/image-from-above.jpg") no-repeat center/cover;
  }
  .events .box .Pocket {
    background: url("../images/desktop/image-pocket-borealis.jpg") no-repeat center/cover;
  }
  .events .box .curiosity {
    background: url("../images/desktop/image-curiosity.jpg") no-repeat center/cover;
  }
  .events .box .fisheye {
    background: url("../images/desktop/image-fisheye.jpg") no-repeat center/cover;
  }
  .events .box ._all {
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .events .box ._all p {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: hsl(0deg, 0%, 100%);
    font-size: 2.6em;
    max-width: 90%;
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }
  .events .box ._all:hover {
    opacity: 0.5;
  }
  .events .box ._all:hover p {
    color: hsl(0deg, 0%, 0%);
  }
  .events .title {
    margin: 30px 0;
    align-self: flex-start;
    text-transform: uppercase;
    font-size: 2.6em;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .products ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .products ul li a {
    color: hsl(0deg, 0%, 100%);
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 2.3px;
    position: relative;
    margin-top: 50px;
  }
  .products ul li a::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 0;
    height: 3px;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .products ul li a:hover:before {
    width: 30%;
  }
  .products .logo_2 {
    grid-area: 1/1/2/2;
  }
  .products .links {
    grid-area: 2/1/3/2;
  }
  .products .media {
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .products .media a:hover:before {
    width: 100%;
  }
  .products footer {
    grid-area: 2/2/3/3;
    color: hsl(0deg, 0%, 55%);
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 90vh;
}
.header .nav {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-top: 1.25rem;
  flex-direction: row;
  width: 100%;
  height: 100px;
}
.header .nav .logo {
  width: 30%;
}
.header .nav .logo img {
  max-width: 100%;
}
.header .landing {
  height: 100%;
}

.interactive {
  padding-top: 6rem;
}

.events {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.products {
  background-color: hsl(0deg, 0%, 0%);
  margin-top: 30px;
  padding: 2rem 4rem;
}
.products .media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.products ul li {
  margin: 10px;
}/*# sourceMappingURL=style.css.map */